div#welcome-section {
  height: calc(100vh - 56px);
  padding: 15rem 2rem;
  text-align: center;
}
div#projects {
  height: calc(100vh - 56px);
  padding: 15rem 2rem;
  text-align: center;
}
.carousel-inner {
  position: absolute !important;
  width: 50% !important;
  margin-left: 25% !important;

}